<%- include('partials/head.ejs') %>

    <body id="app-container" class="menu-default show-spinner">
        <%- include('../partials/navbar.ejs') %>
            <%- include('../partials/menu.ejs') %>
                <main>
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-12">
                                <h1>Orders</h1>
                                <div class="separator mb-5"></div>
                            </div>
                        </div>
                        <div class="row mb-4">
                            <div class="col-12 mb-4">
                                <div class="card">
                                    <div class="card-body">
                                        <table class="data-table data-table-feature">
                                            <thead>
                                                <tr>
                                                    <th>ID</th>
                                                    <th>Customer
                                                        <%# t('test.Customer', view.lang )%>
                                                    </th>
                                                    <th>Service
                                                        <%# t('test.Service', view.lang )%>
                                                    </th>
                                                    <th>Description
                                                        <%# t('test.Description', view.lang )%>
                                                    </th>
                                                    <th>Price
                                                        <%# t('test.Price', view.lang )%>
                                                    </th>
                                                    <th>Date Recorded
                                                        <%# t('test.Date Recorded', view.lang )%>
                                                    </th>
                                                    <th>Pickup Date
                                                        <%# t('test.Pickup Date', view.lang )%>
                                                    </th>
                                                    <th>Status
                                                        <%# t('test.Status', view.lang )%>
                                                    </th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>Tiger Nixon</td>
                                                    <td>System Architect</td>
                                                    <td>Edinburgh</td>
                                                    <td>61</td>
                                                    <td>2011/04/25</td>
                                                    <td>$320,800</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </main>
                <%- include('../partials/main-footer.ejs') %>
                    <%- include('partials/scripts.ejs') %>
    </body>

    </html>